<h1>ワリカンbooks</h1>

<p><%= @user.name %>様</p>

<p>
登録はまだ完了していません。下のリンクをクリックするとユーザー登録が完了します</p>

<%= link_to "登録", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>

