

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">ワリカンbooksとは？</h3>
  </div>
  <br>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">本をワリカンして購入し、キャンパス内で手渡し！！</li>
      <li class="list-group-item list-group-item-success">ワリカンだからとにかく安い！！</li>
      <li class="list-group-item list-group-item-info">『書き込みあり』の企画に参加すれば、より多くの情報量、より深い読書体験！！</li>
      <li class="list-group-item list-group-item-success">ワリカンメンバー同士での交流までがワリカンbooksの読書体験！！</li>
      <li class="list-group-item list-group-item-info">2人の間でのワリカン＝中古本売買としても成り立ちます！(安く買える、高く売れる！)
      </li>
    </ul> </div>
  </div>
  


  <div class="panel panel-primary">
    <div class="panel-heading">
     <h3 class="panel-title">ワリカンの仕方</h3>
   </div>
   <br>
   <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">ワリカン企画を検索</h3>
    </div>
    <div class="panel-body">
      大学名、本の名前を入力してください。
      大学名だけを入力して、面白そうな本を探すのもありです  </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">条件を見て、面白そうな本、企画を選ぶ</h3>
      </div>
      <div class="panel-body">
        <li>
          ワリカン人数ーー１人当たりの値段が決まります。
        </li>
        <li>
          書きこみ
        </li>
        <li>
          １人当たりの読書日数　など
        </li>
      </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">書きこみで新たな読書体験</h3>
      </div>
      <div class="panel-body">
        <li>
          <strong>存分に情報を書きこみながら読書できる。 </strong>ーー次の順の人に伝えるつもりで
        </li>
        <li>
          <strong>テーマ付き書きこみでさらに深い読書体験を。</strong>　（ex１. デカルト並みの疑いをもって〜を読む / ex2.　思いついたアイデアを書き足しながら読む）
        </li>
        <li>
          <strong>
            ラインあり、書きこみありで、1.ビジネス書などの要点を素早く掴む。
            ２.自分では見つけられなかったであろう”深み”にたどり着ける

          </strong>
        </li>
      </div>

      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">回ってくる順番は「企画者＝＞参加者（参加した順）</h3>
        </div>
        <div class="panel-body">
          一人当たりの日数、書きこみの有無と合わせて、よく考えて参加しましょう
          <strong><li>
            書きこみありの場合、後になれば、その分だけ得られる情報は増えます
          </li></strong>
          <strong><li>
            順番が早いほど、書きこみに縛られずに読めます
          </li></strong>
          <li>本の所有権は最後に参加した人に渡ります
          </li>
        </div>
      </div>
    </div>
  </div>
  


  <div class="center jumbotron">
    <h1>実際に見てみる</h1>
    <%= link_to "本を探す", microposts_path, class: "btn btn-lg btn-primary" %>
  </div>

  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">ワリカン成立後について</h3>
    </div>
    <br>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">ワリカンが成立すると、メンバー全員の元にメンバーの連絡先がメールとして送信されます</h3>
      </div>
      <div class="panel-body">
        ここから先は個人間で連絡しあってください。
      </div></div>

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">集合場所、時間を決めて本を手渡ししてください</h3>
        </div>
        <div class="panel-body">
          この時、メールで連絡する金額に従ってお金のやりとりもしてください
          <li>例：（Aさん、Bさん、Cさんで1500円の本をワリカンした場合）　BさんはAさんから本を受け取る際に<strong>BさんはAさんに１５００×２/３＝１０００円渡します。</strong>CさんがBさんからに本を受け取る際に<strong>CさんはBさんに１５００×１/３＝５００円を渡します </strong>
          </li>
        </div></div>


        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">ワリカンメンバー同士の交流までがワリカンbooksの醍醐味です！</h3>
          </div>
          <div class="panel-body">
            <strong><li>
              手渡しの際に読書トークをしたり、共通の趣味を持つ友人となったりできます。
            </li></strong>
            <strong><li>
              読んだ本について議論しあったり、読書会を開けばさらに読書は深まります
            </li></strong>
            <strong><li>
              色恋沙汰に対する責任は一切負いません。
            </li></strong>
          </div>
        </div>
      </div>



      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">満足のいく企画がなければ、自分でワリカン企画を立ち上げましょう</h3>
        </div>
        <br>
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">読みたい本を衝動買いしてから、ワリカン仲間を募るのもありです。</h3>
          </div>
          <div class="panel-body">
            ワリカンbooksがあるのだからケチらずに読みたい本を買いましょう！
          </div>
        </div>

        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">メンバーが集まるように、面白い書きこみテーマ、適度な人数、日数設定をしましょう</h3>
          </div>
          <div class="panel-body">
            <strong><li>
              メンバーが多いほど、企画者は安い値段でその本を手に入れたことになります
            </li></strong>  
            <strong><li>
              しかし、人数が多すぎたり、書き込みなどの条件が悪いとメンバーは集まりません
            </li></strong>
            <strong><li>
              ３人目、４人目の人も読みたくなるような条件を設定しましょう。
            </li></strong>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">2人の間でのワリカン＝中古本売買としても成り立ちます！！</h3>
          </div>
          <div class="panel-body">
            <li>使わなくなった教科書、その他読み終わった本を手渡しで取引！</li>
            <li>手渡しだからこそ可能な、どこよりも安く買え、どこよりも高く売れます
            </li>
          </div>
        </div>
      </div>



